﻿@model VeterinaryClinic.WebAsp.Entities.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.NameDocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.NameDocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.NameRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.NameRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty.Namespecialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty.Namespecialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStation.NameWorkStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStation.NameWorkStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmployee }) |
    @Html.ActionLink("Back to List", "Index")
</p>
