﻿@model IEnumerable<VeterinaryClinic.WebAsp.Entities.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType.NameDocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.NameRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty.Namespecialty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStation.NameWorkStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType.NameDocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.NameRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty.Namespecialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkStation.NameWorkStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmployee }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmployee }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmployee })
        </td>
    </tr>
}

</table>
