﻿@model VeterinaryClinic.WebAsp.Entities.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.NameOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.NameOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race.NameRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race.NameRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specie.NameSpecie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specie.NameSpecie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamePatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPatient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
