﻿@model IEnumerable<VeterinaryClinic.WebAsp.Entities.Patient>


@*MODAL*@
<div class="row">
    <div class="col-md-12">
        <a id="btnNuevo" data-toggle="modal"
           href="#myModal"
           class="btn btn-primary">
            Agregar
        </a>
    </div>
</div>
<br />
@*MODAL*@
<div class="modal fade" tabindex="-1" role="dialog" arial-hidden="true"
     style="display:none;" @*data-keyboard="false" data-backdrop="static"*@
     id="myModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Documento</h5>
                <button type="button" class="close" aria-hidden="true"
                        data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                    Cargando...

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" arial-hidden="true"
     style="display:none;" @*data-keyboard="false" data-backdrop="static"*@
     id="myModal1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Documento</h5>
                <button type="button" class="close" aria-hidden="true"
                        data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                    Cargando...

                </div>
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered table-condensed table-striped table-hover sortable">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.NameOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race.NameRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specie.NameSpecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamePatient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.Owner.NameOwner)
            </td>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.Race.NameRace)
            </td>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.Specie.NameSpecie)
            </td>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.NamePatient)
            </td>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>

            <td style="text-align: center">

                @Html.ActionLink("Editar", "Edit", new { id = item.IdPatient }, new { @class = "btn btn-primary active" })
                @Html.ActionLink("Detalle", "Details", new { id = item.IdPatient }, new { @class = "btn btn-primary active" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdPatient }, new { @class = "btn btn-primary active" })

            </td>

        </tr>
    }

</table>



@section scripts
{
    <script src="~/Scripts/ViewModal/CreatePatients.js"></script> 
}