﻿@{
    Layout = null;
}


<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Underdog&display=swap" rel="stylesheet">

    <!-- nuestros estilos-->

    <link href="~/Scripts/style.css" rel="stylesheet" />
    <!-- iconos de friconix-->
    <script defer src="https://friconix.com/cdn/friconix.js"></script>

    <title>SisVeterinaria</title>
</head>
<body>


    <!-- INICIO SECCIÓN INFORMES -->
    <div class="container-fluid bg-color-info font-color-general" id="inicio">
        <div class="row">
            <div class="col-12 col-lg-6 text-center text-lg-left my-3 pl-5">
                Guadalupe, Antioquia
            </div>

            <div class="col-12 col-lg-6 text-center text-lg-right my-3 pr-5">
                Lunes a Viernes de 9 am a 7 pm. <span class="font-weigth-bolder"><i class="fi-xnsuxl-smartphone-solid"></i> +57 3197210598</span>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN INFORMES -->
    <!-- INICIO NAVBAR -->
    <nav class="navbar navbar-expand-lg sticky-top bg-light">
            <span class="brand-name">SisVeterinaria</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="font-color-general"><i class="fi-xwsrxl-ellipsis"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link font-color-general mr-lg-3 ml-3" href="~/Account/Login">Login</a>
                        @*[/Account/Login]*@
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link font-color-general mr-lg-3 ml-3" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link font-color-general mr-3 ml-3" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link font-color-general mr-3 ml-3" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link font-color-general mr-3 ml-3" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>

    <!-- FIN NAVBAR -->
    <!-- INICIO SECCIÓN PRINCIPAL -->
    <section class="container-fluid">

        <div class="row bg-img-principal align-items-center"> 

            <div src="~/img/vets.jpg" class="offset-5 col-6 bg-light p-3 d-none d-lg-block">
                <h3 class="font-color-general">La Clínica veterinaria ideal para  tu 🐕</h3>
                <p>
                    Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.
                </p>
                <p>
                    Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
                </p>
            </div>





        </div>

    </section>
    <!-- FIN SECCIÓN PRINCIPAL -->
    <!-- INICIO SECCIÓN NOSOTROS-->

    <section class="container-fluid bg-color-azul p-3" id="nosotros">

        <h4 class="text-white text-center p-3">
            ¿Quiénes somos?
        </h4>

        <hr class="hrblanco">

        <div class="row  align-items-center">
            <div class="col-12 col-lg-6">
                <img src="~/img/vets.jpg" class="img-fluid p-3" alt="nosotros">
            </div>
            <div class="col-12 col-lg-6 text-white p-3">
                <h4 class="my-3">
                    Nosotros:
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

                <p class="text-center">
                    <a href="#" class="font-weigth-bolder-bold text-white">Pide una cita</a>
                </p>
            </div>
        </div>
    </section>

    <!-- FIN SECCIÓN NOSOTROS-->
    <!-- INICIO SECCIÓN SERVICIOS-->
    <section class="container-fluid" id="servicios">

        <h4 class="text-center p-3 font-color-general">
            Servicios
        </h4>

        <hr class="hrazul">

        <div class="row">
            <div class="col-12 col-lg-4">
                <h5 class="font-color-general text-center p-3">Nutrición</h5>

                <img src="~/img/dog1.jpg" class="img-fluid" alt="imagen nutricion">
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>

            </div>

            <div class="col-12 col-lg-4">
                <h5 class="font-color-general text-center p-3">Chequeo General</h5>
                <img src="~/img/dog2.jpg" class="img-fluid" alt="imagen chequeo">
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>

            <div class="col-12 col-lg-4">
                <h5 class="font-color-general text-center p-3">Masaje</h5>
                <img src="~/img/dog3.jpg" class="img-fluid" alt="imagen masaje">
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>

        </div>
    </section>

    <!-- FIN SECCIÓN SERVICIOS-->
    <!-- FIN SECCIÓN CONTACTO -->
    <section class="container-fluid bg-color-azul p-5" id="contacto">
        <h4 class="text-center p-3 text-white">
            Contacto
        </h4>

        <hr class="hrblanco">

        <div class="row">
            <div class="col-12 col-lg-3 my-5">
                <h4 class="text-center text-white"><i class="fi-onluxl-bus-side"></i> Dirección</h4>
                <div class="text-white text-center my-3">
                    <p>Av Bolivar # 43-23 piso 2</p>
                    <p class="mt-n3">Guadalupe,Antioquia</p>
                </div>
            </div>



            <div class="col-12 col-lg-3 my-5">
                <h4 class="text-center text-white"><i class="fi-xnsuxl-smartphone-solid"></i> Teléfono</h4>
                <div class="text-white text-center my-3">
                    <p>Tienda: 3237678</p>
                    <p class="mt-n3">WhatsApp: 3197210598</p>
                </div>
            </div>

            <div class="col-12 col-lg-3 my-5">
                <h4 class="text-center text-white"><i class="fi-xnluxl-envelope"></i> Correo</h4>
                <div class="text-white text-center my-3">
                    <p>contacto@eldoctor.com</p>
                    <p class="mt-n3">ventas@sisveterinaria.com</p>
                </div>
            </div>

            <div class="col-12 col-lg-3 my-5">
                <h4 class="text-center text-white"><i class="fi-xtluxl-calendar-thin"></i> Horario</h4>
                <div class="text-white text-center my-3">
                    <p>Lunes a Viernes de 7am a 9 pm</p>
                    <p class="mt-n3">Sábado de 7am a 1 pm</p>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN SECCIÓN CONTACTO-->
    <!-- INICIO SECCIÓN MAPA -->
    <section class="container-fluid">
        <a href="https://www.google.com/maps" target="_blank"><img src="~/img/mapa.jpg"  class="img-fluid" alt="imagen mapa"></a>
    </section>

    <!-- FIN SECCIÓN MAPA -->
    <!-- INICIO SECCIÓN FOOTER-->
    <footer class="container-fluid bg-color-info p-3 font-color-general text-center">
        <p class="m-3">
            SisVeterinary © 2021 - Todos los derechos reservados
        </p>
    </footer>

    <!-- FIN SECCIÓN FOOTER-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>