﻿@model VeterinaryClinic.WebAsp.Entities.Appointment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.NameEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.NameEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.NamePatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.NamePatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.NameRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.NameRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStartAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStartAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEndAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEndAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
