﻿@model VeterinaryClinic.WebAsp.Entities.WorkStation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameWorkStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameWorkStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdWorkStation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
