﻿@model IEnumerable<VeterinaryClinic.WebAsp.Entities.Room>

@{
    ViewBag.Title = "Index";
}



@*MODAL*@
<div class="row">
    <div class="col-md-12">
        <a id="btnNuevo" data-toggle="modal"
           href="#myModal"
           class="btn btn-primary">
            Agregar
        </a>
    </div>
</div>
<br />
@*MODAL*@
<div class="modal fade" tabindex="-1" role="dialog" arial-hidden="true"
     style="display:none;" @*data-keyboard="false" data-backdrop="static"*@
     id="myModal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Documento</h5>
                <button type="button" class="close" aria-hidden="true"
                        data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                    Cargando...

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" arial-hidden="true"
     style="display:none;" @*data-keyboard="false" data-backdrop="static"*@
     id="myModal1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Documento</h5>
                <button type="button" class="close" aria-hidden="true"
                        data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                    Cargando...

                </div>
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered table-condensed table-striped table-hover sortable">

    <thead>

        <tr style="  background-color: #343c44">

            <th style="text-align: center ; ">
                <font color="#fff">
                    Nombre
                </font>
            </th>
            <th style="text-align: center">
                <font color="#fff">
                    Detalle
                </font>
            </th>
            <th style="text-align: center">
                <font color="#fff">
                    ¿Disponible?
                </font>
            </th>
            <th style="text-align: center">
                <font color="#fff">
                    Acciones
                </font>
            </th>

        </tr>

    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td class="table-active" style="text-align: center">
                @Html.DisplayFor(modelItem => item.NameRoom)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td style="text-align: center">
                @Html.ActionLink("Editar", "Edit", new { id = item.IdRoom }, new { @class = "btn btn-primary active" })
                @Html.ActionLink("Detalle", "Details", new { id = item.IdRoom }, new { @class = "btn btn-primary active" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdRoom }, new { @class = "btn btn-primary active" })

            </td>
        </tr>
    }

</table>


@section scripts
{

    <script src="~/Scripts/ViewModal/CreateRoom.js"></script> 
}

