﻿@model VeterinaryClinic.WebAsp.Entities.Owner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.NameDocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.NameDocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOwner }) |
    @Html.ActionLink("Back to List", "Index")
</p>
