﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>  
            </div>*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight:bold">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Gestión Administrativa
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tipos de Documento", "Index", "DocumentTypes")</li>
                            <li>@Html.ActionLink("Salones", "Index", "Rooms")</li>
                            <li>@Html.ActionLink("Areas/Dependencia", "Index", "WorkStations")</li>
                            <li>@Html.ActionLink("Especialidades", "Index", "Specialties")</li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Gestión Veterinaria
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu"> 
                            <li>@Html.ActionLink("Razas", "Index", "Races")</li>
                            <li>@Html.ActionLink("Especies", "Index", "Species")</li>
                            <li>@Html.ActionLink("Pacientes", "Index", "Patients")</li>
                            <li>@Html.ActionLink("Propietarios", "Index", "Owners")</li>
                            <li>@Html.ActionLink("Agendas", "Index", "Appointments")</li> 
                        </ul>

                    </li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
