﻿@model VeterinaryClinic.WebAsp.Entities.Specialty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namespecialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namespecialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idspecialty }) |
    @Html.ActionLink("Back to List", "Index")
</p>
